h1	{ 
	font: italic normal bold 25px/20px cambria, sans-serif;
	color: rgb(99, 142,170);
	text-transform: uppercase;
	 }

p  { font: 15px helvetica, consolas, sans-serif;
	text-align: justify;
	text-indent: 50px;
	letter-spacing: normal;
	word-spacing: 2px;

	}
body{ 
	background: #e08bcf url(doraemon.jpg) top left repeat-y;
}